/*Global CSS Variables*/
:root {
   /*--dark:#002E4D;*/
   --dark:#002640;
   --brightContrast:#F66B0E;
   --bright:#0065A8;
   --offWhite:#EFEFEF;
}

/*Nav Bar Styles here*/
nav {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   height: 15vh;
   background-color: var(--bright);
}
nav a {
   box-sizing: border-box !important;
   height: 100%;
   width: 20%;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--offWhite);
   font-weight: bold;
   border-bottom: .7vh solid var(--brightContrast);
   border-left: .7vh solid transparent;
   border-right: .7vh solid transparent;
   border-top: .7vh solid transparent;
}
nav a:hover {
   border-bottom: .7vh solid transparent;
   border-left: .7vh solid var(--brightContrast);
   border-right: .7vh solid var(--brightContrast);
   border-top: .7vh solid var(--brightContrast);
   transition-property: border;
   transition-duration: 250ms;
   transition-timing-function: linear;
}
nav #menu {
   display: flex;
   flex-wrap: wrap;
   width: 70%;
}
nav #myLogoContainer {
   width: 30%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   border-bottom: .7vh solid var(--brightContrast);
   padding: 1vw;
}
.navIcon {
   font-size: 230%;
   margin-right: 5%;
   color: var(--dark);
}
.myLogo {
   height: 90%;
}
.navAnchorCenter {
   display: flex;
   align-items: center;
   height: fit-content;
}
/*styles for the theme changer*/
#themeContainer {
   /*Optional Styling below*/
   color: black;
   font-size: 3vw;
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 7%;
   border-radius: 7vw;
   box-sizing: border-box;
   animation: rainbowFade 1s linear infinite;
}
#themeSpacerBar {
   display: block;
   width: 100%;
   height: 4vw;
   background: black;
}
.radioContainer {
   display: inline-block;
   /*Optional Styling below*/
   text-align: center;
   flex-basis: 25%;
   white-space: nowrap;
   margin-right: 2%;
   margin-left: 2%;
}
.radioContainer input {
   margin-top: 1.4em;
   margin-bottom: 2em;
   transform: scale(3);
}
#formInputs {
   display: flex;
   justify-content: center;
   padding-top: 2%;
}

.colorInput * {
   display: block;
   /*Optional Styling below*/
}
.colorInput {
   display: inline-block;
   /*Optional Styling below*/
   text-align: center;
   flex-basis: 23%;
   padding-top: 2%;
   padding-bottom: 1%;
   margin: 3%;
   border-radius: 1.5vw;
   margin-top: 2%;
}
.colorInput input {
   width: 90%;
   margin-left: 5%;
   height: 10vw;
   border-radius: 4px;
}
#colorInputContainer {
   /*Optional Styling below*/
   display: flex;
   justify-content: center;
}
/*fontawesome icon styling here*/
.headerIcon {
   vertical-align: middle;
   font-size: 15vw;
   color: var(--brightContrast);
}
.footerIcon {
   vertical-align: middle;
   font-size: 7.1vw;
   color: var(--brightContrast);
}
.gradCounterIcon {
   font-size: 6vw;
}
.travelInfoIcon {
   font-size: 320%;
   vertical-align: middle;
}

/*Breakpoints*/
/*When the screen is above 1094 px*/
@media only screen and (min-width: 1094px) {
   nav {
      font-size: 100%;
   }
   /*Universal Fixes*/
   .footerIcon {
      font-size: 5.2vw !important;
   }
   .headerIcon {
      font-size: 9vw !important;
   }
   /*Travel fixes*/
   #us-map{
      left: 20% !important;
      width: 60% !important;
   }
   
   /*TicTacToe fixes*/
   #gameContainer {
      padding-bottom: 79% !important;
   }
   #ticTacToeSvg {
      width: 30% !important;
   }
   #svgContainer {
      width: 70% !important;
      margin-left: 15% !important;
   }
}

/*Screens between 900 and 1094 px*/
@media only screen and (min-width: 750px) and (max-width: 1094px) {
   nav #menu {
      width: 86%;
      font-size: 95%;
   }
   nav #myLogoContainer {
      width: 14%;
   }
   .myLogo {
      height: 70%;
   }
   /*Universal Fixes*/
   .headerIcon {
      font-size: 10vw !important;
   }
   
   .tableStyle1 td, .tableStyle1 th {
      font-size: 70% !important;
   }
   .linkIcon {
      width: 55% !important;
   }
   .centerColumn {
      font-size: 75% !important;
   }
   /*Gaming fixes*/
   /*Academic Fixes*/
   /*professional fixes*/
   /*Travel fixes*/
   #us-map {
      left: 15% !important;
      width: 70% !important;
   }
   /*TicTacToe fixes*/
   #gameContainer {
      padding-bottom: 92% !important;
   }
   /*R-Tree fixes*/
   #topSelection {
      font-size: 80%;
   }

}
@media only screen and (min-width: 550px) and (max-width: 750px) {
   nav {
      font-size: 58%;
   }
   nav #menu {
      width: 90%;
   }
   nav #myLogoContainer {
      width: 10%;
      justify-content: center;
   }
   .myLogo {
      height: 70%;
   }
   /*fontawesome Icon Fixes*/
   .headerIcon {
      font-size: 24vw !important;
   }
   /*Universal Fixes*/
   .leftOfMain, .rightOfMain {
      display: none !important;
   }
   .centerColumn {
      margin-right: 3% !important;
      margin-left: 3% !important;
      font-size: 85% !important;
   }
   .quicklinks li {
      font-size: 90%;
   }
   .tableStyle1 td, .tableStyle1 th {
      font-size: 87% !important;
   }
   .linkIcon {
      width: 50% !important;
   }
   /*Home Fixes*/
   #headshotContainer {
      font-size: 90%;
   }
   /*Academic Fixes*/
   /*Professional fixes*/
   /*Travel fixes*/

   /*TicTacToe fixes*/
   #gameContainer {
      width: 80%  !important;
      margin-left: 10% !important;
      padding-bottom: 110% !important;
   }
    /*R-Tree fixes*/
    #topSelection {
      font-size: 85%;
   }
}
@media only screen and (min-width: 318px) and (max-width: 550px) {
   nav {
      font-size: 100%;
      height: 50vh;
      border-bottom: .7vh solid var(--brightContrast);
   }
   nav a {
      width: 100%;
      height: 20%;
      border: none;
      justify-content: start;
   }
   nav a:hover {
      border: none;
   }
   nav #menu {
      width: 50%
   }
   nav #myLogoContainer {
      width: 50%;
      justify-content: center;
      border: none;
   }
   .myLogo {
     height: auto;
     width: 85%;
   }
   /*fontawesome Icon Fixes*/
   .headerIcon {
      font-size: 22vw !important;
   }
   .radioContainer input {
      margin-top: 1em;
      margin-bottom: 1.3em;
      transform: scale(2.2);
   }
   /*Universal Fixes*/
   #themeContainer {
      font-size: 5.2vw !important;
   }
   .topHeader {
      font-size: 270% !important;
   }
   .leftOfMain, .rightOfMain {
      display: none !important;
   }
   .centerColumn {
      margin-right: 3% !important;
      margin-left: 3% !important;
      font-size: 80% !important;
      border: 3vw solid var(--bright) !important;
   }
   .quicklinks li {
      font-size: 90% !important;
   }
   .tableStyle1 td, .tableStyle1 th {
      font-size: 87% !important;
      border: 1px solid black !important;
   }
   .linkIcon {
      width: 52% !important;
   }
   .footer {
      font-size: 95% !important;
      padding-left: 4% !important;
   }

   /*Home Fixes*/
   #gradCountdown {
      font-size: 90% !important;
   }
   #headshotContainer {
      font-size: 80% !important;
   }
   /*Gaming fixes*/
   /*Academic Fixes*/
   #academicTable {
      font-size: 92%;
      padding: .8%;
   }
   /*professional fixes*/
   .resume {
      display: none;
   }
   .picLinks {
      width: 75% !important;
      margin-left: 12.5% !important;
      margin-right: 12.5% !important;
      font-size: 100% !important;
   }
   /*Travel fixes*/

   /*TicTacToe fixes*/
   #gameContainer {
      width: 85%  !important;
      margin-left: 7.5% !important;
      padding-bottom: 130% !important;
      font-size: 90%  !important;
   }
   /*R-Tree fixes*/
   #genShapes {
      width: 5.8em;
   }
   #topSelection .sectionColumn {
      font-size: 70% !important;
   }
   #random {
      flex-wrap: wrap;
   }

   #randLeafShapeType {
      margin-top: 1.3vh;
   }

   .sectionColumn {
      padding: 1% !important;
      margin: 2vw !important;
   }
   .presetEntry {
      font-size: 90%;
   }
}
@media only screen and (min-width: 0px) and (max-width: 318px) {
   nav {
      font-size: 80%;
      height: 50vh;
      border-bottom: .7vh solid var(--brightContrast);
   }
   nav a {
      width: 100%;
      height: 20%;
      border: none;
      justify-content: start;
   }
   nav a:hover {
      border: none;
   }
   nav #menu {
      width: 50%
   }
   nav #myLogoContainer {
      width: 50%;
      justify-content: center;
      border: none;
   }
   .myLogo {
     height: auto;
     width: 70%;
   }
   /*fontawesome Icon Fixes*/
   .headerIcon {
      font-size: 20vw;
   }
   .radioContainer input {
      margin-top: .9em;
      margin-bottom: 1em;
      transform: scale(1.9);
   }
   /*Universal Fixes*/
   #themeContainer {
      font-size: 5vw !important;
   }
   .centerColumn {
      border: 12px solid var(--bright) !important;
      font-size: 60% !important;
   }
   .topHeader {
      font-size: 270% !important;
   }
   .footer {
      font-size: 60% !important;
   }
   .leftOfMain, .rightOfMain {
      display: none;
   }
   .centerColumn {
      margin-right: 0%;
      margin-left: 0%;
   }
   .quicklinks li {
      font-size: 90% !important;
   }
   .tableStyle1 td, .tableStyle1 th {
      font-size: 90% !important;
      border: 1px solid black !important;
   }
   .linkIcon {
      width: 95% !important;
   }
   /*Gaming fixes*/
   /*Academic Fixes*/
   /*professional fixes*/
   .picLinks {
      width: 75% !important;
      margin-left: 12.5% !important;
      margin-right: 12.5% !important;
      font-size: 80% !important;
   }
   .downloadButton {
      font-size: 60% !important;
   }
   /*Travel fixes*/

   /*TicTacToe fixes*/
   #gameContainer {
      width: 84%  !important;
      margin-left: 8% !important;
      padding-bottom: 125% !important;
      font-size: 90% !important;
   }
   #regionGuiContainer {
      font-size: 60%;
   }
}
body > * {
   box-sizing: border-box;
}
body {
   position: relative;
   background-color: var(--dark);
   margin: 1px;
   font-family: Arial, Helvetica, sans-serif;
}
.topHeader {
   font-family:'Courier New', Courier, monospace;
   font-size: 350%;
   text-align: center;
   color: var(--offWhite);
}
#animationContainer {
   position: absolute;
   bottom: 42%;
   width: 100%;
}

#animation1 {
   position: absolute;
   background-color: var(--brightContrast);
   height: 10vw;
   width: 10vw;
   animation-name: visor;
   animation-duration: 10s;
   animation-timing-function: ease-in;
   animation-iteration-count: infinite;
   border-radius: 50%;
   text-align: center;
   vertical-align: middle;
}
@keyframes visor {
   0% {
      transform: translateX(0%);
   }
   50% {
      transform: translateX(89vw);
   }
   100% {
      transform: translateX(0%);
   }
}
@keyframes alternate1 {
   0% {
      width: 100%;
      margin-left: 0%;
      margin-top: 0%;
      transform: rotate(0deg);
   }
   40% {
      width: 100%;
      margin-left: 0%;
      margin-top: 0%;
      transform: rotate(0deg);
   }
   45% {
      width: 0%;
      margin-left: 50%;
      margin-top: 50%;
      transform: rotate(360deg);
   }
   95% {
      width: 0%;
      margin-left: 50%;
      margin-top: 50%;
      transform: rotate(360deg);
   }
   100% {
      width: 100%;
      margin-left: 0%;
      margin-top: 0%;
      transform: rotate(0deg);
   }
}
@keyframes alternate2 {
   0% {
      width: 0%;
      margin-left: 50%;
      margin-top: 50%;
      transform: rotate(360deg);
   }
   45% {
      width: 0%;
      margin-left: 50%;
      margin-top: 50%;
      transform: rotate(360deg);
   }
   50% {
      width: 100%;
      margin-left: 0%;
      margin-top: 0%;
      transform: rotate(0deg);
   }
   90% {
      width: 100%;
      margin-left: 0%;
      margin-top: 0%;
      transform: rotate(0deg);
   }
   95% {
      width: 0%;
      margin-left: 50%;
      margin-top: 50%;
      transform: rotate(360deg);
   }
   100% {
      width: 0%;
      margin-left: 50%;
      margin-top: 50%;
      transform: rotate(360deg);
   }
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
@keyframes rainbowFade {
   0% {
      background-image: linear-gradient(to left, violet, #9D41B8, indigo, #2600C1, blue, #004080, green,#80C000, yellow,#FFD200, orange, #FF5300, red);
   }
   7.692% {
      background-image: linear-gradient(to left,  red, violet, #9D41B8, indigo, #2600C1, blue, #004080, green,#80C000, yellow,#FFD200, orange, #FF5300);
   }
   15.385% {
      background-image: linear-gradient(to left, #FF5300,  red, violet, #9D41B8, indigo, #2600C1, blue, #004080, green,#80C000, yellow,#FFD200, orange);
   }
   23.077% {
      background-image: linear-gradient(to left,  orange, #FF5300,  red, violet, #9D41B8, indigo, #2600C1, blue, #004080, green,#80C000, yellow,#FFD200);
   }
   30.769% {
      background-image: linear-gradient(to left, #FFD200, orange, #FF5300,  red, violet, #9D41B8, indigo, #2600C1, blue, #004080, green,#80C000, yellow);
   }
   38.461% {
      background-image: linear-gradient(to left,  yellow, #FFD200, orange, #FF5300,  red, violet, #9D41B8, indigo, #2600C1, blue, #004080, green,#80C000);
   }
   46.153% {
      background-image: linear-gradient(to left, #80C000,  yellow, #FFD200, orange, #FF5300,  red, violet, #9D41B8, indigo, #2600C1, blue, #004080, green);
   }
   53.846% {
      background-image: linear-gradient(to left,  green, #80C000,  yellow, #FFD200, orange, #FF5300,  red, violet, #9D41B8, indigo, #2600C1, blue, #004080);
   }
   61.538% {
      background-image: linear-gradient(to left,  #004080,  green, #80C000,  yellow, #FFD200, orange, #FF5300,  red, violet, #9D41B8, indigo, #2600C1, blue);
   }
   69.230% {
      background-image: linear-gradient(to left, blue,  #004080,  green, #80C000,  yellow, #FFD200, orange, #FF5300,  red, violet, #9D41B8, indigo, #2600C1);
   }
   76.923% {
      background-image: linear-gradient(to left,  #2600C1, blue,  #004080,  green, #80C000,  yellow, #FFD200, orange, #FF5300,  red, violet, #9D41B8, indigo);
   }
   84.6153% {
      background-image: linear-gradient(to left,  indigo,  #2600C1, blue,  #004080,  green, #80C000,  yellow, #FFD200, orange, #FF5300,  red, violet, #9D41B8);
   }
   92.307% {
      background-image: linear-gradient(to left,  #9D41B8,  indigo,  #2600C1, blue,  #004080,  green, #80C000,  yellow, #FFD200, orange, #FF5300,  red, violet);
   }
   100% {
      background-image: linear-gradient(to left,  violet,  #9D41B8,  indigo,  #2600C1, blue,  #004080,  green, #80C000,  yellow, #FFD200, orange, #FF5300,  red);
   }
}
.tableStyle1 {
   padding: 1.2%;
   width: 100%;
}
.tableStyle1 td, .tableStyle1 th {
   border: 2px solid var(--dark);
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
}

.gamePics {
   width: 100%;
}
.gameLogoCol {
   width: 25%;
   min-width: 38px;
}
.topDescription {
   color: var(--dark);
   font-size: xx-large;
   margin-top: 0px;
   text-align: center;
}
.orderedList1 {
   border-top: 40px solid var(--offWhite);
   margin-top: 0px;
}
#test {
   width: 20%;
}
.resume {
   width: 100%;
   height: 90vh;
   border: 3px solid black;
   background-color: black;
}
.outsidelinks {
   color: var(--offWhite);
}
.outsidelinks:hover {
   color: lightgrey;
}
.textLink {
   color: var(--dark);
   fill: var(--dark);
   text-decoration: none;
   white-space: nowrap;
}
.textLink:hover {
   color: var(--offWhite);
   fill: var(--offWhite) !important;
}
.textLink i {
   font-size: 135%;
   vertical-align: middle;
}
#ticTacToeSvg {
   width: 40%;
   fill: var(--dark) !important;
}
#ticTacToeSvg:hover {
   fill: var(--bright) !important;
}
.quicklinks li {
   margin-top: 10px;
}
.flexContainer {
   display: flex;
   flex-direction: row;
}
.centerColumn {
   width: 60%;
   background-color: var(--brightContrast);
   border: 3.8vw solid var(--bright);
   border-radius: 20px;
   color: var(--dark);
   padding: .5%;
   flex-wrap: wrap;
   flex: 700;
   flex-basis: 60%;
   height: 100%;
   flex-shrink: 1;
   margin-bottom: 5vh;
}

.centerColumn > h1, .centerColumn > h2 {
   text-align: center;
}
.columnInnrBordr {
   border: 5px solid var(--dark);
}
.leftOfMain, .rightOfMain {
   flex: 1;
   height: 100%;   
   flex-basis: 20%;
   flex-shrink: 100;
}
.linkIcon {
   width: 35%;
   border: 3px solid var(--offWhite);
   border-radius: 15px;
   padding: 6px;
   font-size: 270%;
   color: var(--dark);
}
.linkIcon:hover {
   border: 3px solid var(--dark);
   border-radius: 15px;
   transition: all ease-in-out 300ms;
}

.picLinks {
   background-color: var(--offWhite);
   color: var(--dark);
   width: 60%;
   margin-right: 20%;
   margin-left: 20%;
   box-sizing: border-box;
   border: 3px solid var(--bright);
   border-radius: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 20px;
}
.picLinks h1 {
   text-align: center;
   font-size: 200%;
}
.picLinks ul {
   text-align: center;
   list-style-type: none;
   padding: 0;
}
.moreMargin {
   margin-top: 5%;
   margin-bottom: 9%;
}
.buttonPicture {
   font-size: 1.2em;
   vertical-align: middle;
   margin-right: .5%;
   color: var(--offWhite);
}

.downloadButton {
   color:var(--offWhite);
   font-size: 90%;
   text-decoration: none;
   background-color: var(--bright);
   padding: 3%;
   border-radius: 7px;
}
.downloadButton:hover {
   background-color: var(--brightContrast);
}
.footer {
   background-color:var(--bright);
   color: var(--offWhite);
   font-family: 'Courier New', Courier, monospace;
   font-size: 110%;
   padding-left: 7%;
   padding-bottom: 1%;
}
.footer > ul {
   list-style: none;
   text-align: left;
}
.footer li {
   margin-bottom: 1%;
}
.until, .quicklinks {
   border-radius: 25px;
   background-color: var(--bright);
   color: var(--offWhite);
}
.until {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 3%;
   padding: 5%;
   padding-bottom: 14%;
   margin-right: 5%;
   margin-top: 10%;
}
#headshotContainer {
   width: 70%;
   margin-top: 10%;
   margin-right: 2%;
}
#headshotLink {
   color: var(--dark);
}
.headshotIcon {
   color: var(--bright);
   font-size: 300%;
}
#profilePicContainer {
   position: relative;
   width: 75%;
   padding-bottom: 75%;
   margin-left: 12.5%;
}
#headshotWords {
   text-align: center;
   font-size: 125%;
   width: 80%;
   margin-left: 10%;
}
#linkDisplay {
   text-align: center;
   margin-top: 2%;
   font-size: 120%;
}
#headshotIconContainer {
   display: flex;
   justify-content: center;
   text-align: center;
}
#headshotIconContainer span {
   margin: 3%;
   width: 25%;
}
.profilePic{
   position: absolute;
   width: 100%;
   z-index: 4;
}
#alternateContainer {
   position: absolute;
   width: 80%;
   padding-bottom: 80%;
   top: 10%;
   left: 10%;
   z-index: 5;
}
#profile1 {
   width: 100%;
   animation-name: alternate1;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 15s;
}
#profile2 {
   width: 0%;
   animation-name: alternate2;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-duration: 15s;
}

#rainbowBackground {
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   z-index: 2;
   animation-name: spin;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}


.quicklinks {
   margin-left: 15%;
   margin-right: 15%;
   padding-top: 2%;
   padding-bottom: 2%;
}
.until__component {
   text-align: center;
   background-color: var(--dark);
   border-radius: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-right: 2px;
   padding-left: 2px;
}
.until__event, #gradDescription {
   grid-column: span 3;
   text-align: center;
   margin-bottom: 1%;
}
.until__numeric {
   font-weight: bold;
   font-size: larger;
}
.bio a { 
   text-decoration: none;
   color: var(--bright);
}
.bio p {
   margin-left: 6%;
   font-size: 120%;
}


/*Start the flexbox styling from class*/
* {
   box-sizing: border-box;
 }
 
 .picFlow {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
   margin-bottom: 5vh;
 }
 
 /* Create four equal columns that sits next to each other */
 .picFlow > img {
   flex-wrap: wrap;
   flex: 33%;
   max-width: 33%;
   padding: 0 4px;
   margin-top: 8px;
   vertical-align: middle;
   align-self: center;
 }
 .terrariaRefrence {
   width: 70%;
   margin-left: 15%;
   text-align: center;
   font-size: 320%;
   margin-bottom: 4%;
 }

 .fullScreenPic {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
   margin-bottom: 5vh;
 }
 
 /* Create four equal columns that sits next to each other */
 .fullScreenPic > img {
   flex-wrap: wrap;
   flex: 100%;
   max-width: 100%;
   padding: 0 1%;
   margin-top: 8px;
   vertical-align: middle;
   align-self: center;
 }

 
 /* Responsive layout - makes a two column-layout instead of three columns */
 @media (max-width: 800px) {
   .picFlow > img {
     flex: 50%;
     max-width: 50%;
   }
 }
 
 /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
 @media (max-width: 600px) {
   .picFlow > img {
     flex: 100%;
     max-width: 100%;
   }
 }
/*End the flexbox styling from class*/
.galleryList {
   padding: 0;
   list-style-position: inside;
   font-size: 120%;
}
.centered {
   text-align: center;
}
.topBanner {
   width: 100%;
   position: absolute;
   z-index: -1;
}
#bannerFix {
   position: relative;
   height: 52vw;
   margin-top: 0%;
   font-size: 130%;
}

.projInfo {
   width: 64%;
   border-right: 4px solid var(--offWhite);
   margin-right: 2%;
}

.projImg {
   width: 34%;
}
.projImg > img {
   width: 100%;
}

#projContainer {
   display: flex;
   flex-wrap: wrap;
   width: 85%;
   margin-left: 7.5%;
   padding: 3%;
   background-color: var(--bright);
   border-radius: 2.7vh;
   color: var(--offWhite);
   margin-bottom: 5vh;
}
.topInfo {
   display: flex;
   justify-content: space-between;
   border-bottom: 4px solid var(--offWhite);
}
.projTitle, .projView {
   padding: 3%;
}
.projTitle {
   font-size: 200%;
}
.projView {
   text-decoration: inherit;
   color: inherit;
   background-color: var(--brightContrast);
   height: fit-content;
   border-radius: 1vh;
   padding: 1.2vh;
   margin-right: 1vw;
   color: var(--dark);
}
.projView:hover {
   filter: brightness(90%);
}

.projDesc {
   padding: 3%;
}
.projSourceCode {
   display: block;
   margin-top: 1em;
   font-size: 130%;
   width: fit-content;
   padding: .4em;
}
.projLink {
   color: var(--offWhite);
}
.projLink:hover {
   filter: brightness(85%);
}

@media only screen and (min-width: 100px) and (max-width: 680px) {
   .projImg {
      width: 100%;
   }
   .projInfo {
      width: 100%;
      border-right: none;
      margin-bottom: 2.5vh;
      border-bottom: 4px solid var(--offWhite);
   }
}


